{% extends 'base.html' %}
{% load static%}
{% block title%}
 Myself
{%endblock%}
{%block css%}

{%endblock%}
{% block body%}
<section id="nav_bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index'%}">Home <span class="sr-only">(current)</span></a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="{% url 'allblogs'%}">All Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'read-later'%}">READ later</a>
            </li>
          </ul>
        </div>
      </nav>

</section>
<section id="welcome">
  <header>
    <img src="#" alt="Akshay - The Author Of This Blog" />
    <h2>Akshay'S BLOG</h2>
  </header>
  <p>Hi, I am Akshay and I love to blog about tech and the world!</p>
</section>
<section id="latest_blogs">
 <h1>Latest Blogs</h1>
 <div class="row">
 {% for blog in blogs%}
 <div class="col-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ blog.image.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{blog.title}}</h5>
          <p class="card-text">{{blog.excerpt}}</p>
        </div>
        <div class="card-body">
          <a href="{%url 'blog_detail' blog.slug%}" class="card-link">Full Blog</a>
        </div>
      </div>
    
 </div>
 {% endfor %}
</div>
</section>

{%endblock%}